html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* style */
body{
    background: linear-gradient(45deg, #040d2c,#462a8b,#c505d6);
  }
.wrapper{
    max-width: 1100px;
    margin: 0 auto; 
    font-family: sans-serif;
}
.wrapperHeader{
    display: flex;
    height: 300px;
}
.textArea{
    margin-top: 60px;
    display: block;
    background:transparent;
    width: 600px;
    color: white;
    font-size: 20px;
    font-weight: 400;
    box-shadow: 0 0 10px white;
}
.content{
    background-color:#C707D5;
    width: 400px;
    margin-left: 100px;
}
.content p{
    margin: 65px auto 0px  auto;
    width: 300px;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    color: white;
}
.wrapperKeyboard{
    margin-top: 50px;
}
.keyboardLine{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.button{ 
    box-shadow: 0 0 10px white;
    background-color:#C707D5;
    color: white;
    height: 50px;
    width: 50px;
    border-radius: 7px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
}
.button:hover{ 
    background-color: #CB65FB;
    
}
.button:active {
    border-radius: 15px;
    background-color: #EC89DA;
    transition: 0.5s;
}
.buttonBackspace{
    width: 170px;
}
.buttonTab{
    width: 90px;
}
.buttonDelete{
    width: 80px;
}
.buttonCapsLock, .buttonShiftLeft{
    width: 160px;
}
.buttonEnter, .buttonShiftRight{
    width: 150px;
}
.buttonSpace{
    width: 540px;
}
.specButton{
   /* background-color: #85008F;  */
   background-color: rgba(0, 0, 0, 0); 
   
}
.hide{
    position: fixed;
    opacity: 0;
}